.tile{
	width: 80px;
	height: 80px;
	font-size: 60px;
	font-family: Helvetica;
	background-color: #fff;
	border: 1px solid #888;
	border-radius: 5px;
}

.gameBoard {
	display: none;
}
.gameBoard.is-ended .tile {
	background-color: #ddd;
	pointer-events: none;
}

.greeting{
	display: none;
}

.center{
	margin: 0 auto;
}